name: Deploy Alpha/Beta Versions

on:
  push:
    tags:
      - "v*-*"  # v0.1.0-alpha0, v0.1.0-alpha1 etc.

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/infrasonar/tplink-probe

      - name: Get the version
        id: get_version
        run: echo "VERSION=$(echo $GITHUB_REF | cut -d / -f 3)" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        env:
          PAT: ${{ secrets.GITHUB_TOKEN }}
        with:
          context: .
          push: true
          tags: ghcr.io/infrasonar/tplink-probe:${{ steps.get_version.outputs.VERSION }},ghcr.io/infrasonar/tplink-probe:unstable
          labels: ${{ steps.meta.outputs.labels }}
